---
id: {{ id }}
type: epic
kind: work-item
status: not-started
owner: {{ owner }}
updated: {{ updated }}
{%- if originated_from %}
originated_from: {{ originated_from }}
{%- endif %}
mvp: false
---

# {{ title }}

